body{
    margin-top: 60px;
    background-color: #303030;
    color: #FFFFFF;
    font-family: 'Mali', cursive;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

#container{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangle{
    width: 95%;
    display: flex;
    flex-direction: row;
}

#logo{
    font-family: 'Mali', cursive;
    font-size: 50px;
    width: 60%;
    padding: 10px;
}

#clock{
    font-family: 'Mali', cursive;
    font-size: 50px;
    width: 40%;
    padding: 10px;
    text-align: right;
}

.square{
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.square1{
    width: 50%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.square2{
    height: 100%;
    width: 50%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.square a {
    font-size: 76px;
}

.tile1{
    margin: 5px;
    width: 46%;
    height: 142px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #3095d3;
    justify-content: center;
    align-items: center;
}

.tile1:hover{
    background-color: #2084c2;
}


.tile2{
    margin: 5px;
    width: 46%;
    height: 142px;
    display: flex;
    flex-grow: 1;
    background-color: #666666;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile2:hover{
    background-color: #555555;
}

.tile3{
    margin: 5px;
    width: 46%;
    height: 142px;
    display: flex;
    flex-grow: 1;
    background-color: #93c748;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile3:hover{
    background-color: #82b627;
}

.tile4{
    margin: 5px;
    width: 97%;
    height: 142px;
    display: flex;
    background-color: #ee5a32;
    flex-grow: 1;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tile5{
    margin: 5px;
    padding: 10px;
    width: 97%;
    height: 274px;
    display: flex;
    background-color: #666666;
    flex-grow: 1;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    flex: 1 100%;
}

.fb{
    margin: 5px;
    width: 12.5%;
    height: 142px;
    display: flex;
    background-color: #4668b3;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.fb:hover{
    background-color: #3557a2;
}

.linkIn{
    margin: 5px;
    width: 12.5%;
    height: 142px;
    display: flex;
    background-color: #4875B4;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.linkIn:hover{
    background-color: #3764A3;
}

.email{
    margin: 5px;
    width: 12.5%;
    height: 142px;
    display: flex;
    background-color: #1da1f2;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.email:hover{
    background-color: #0ca0e1;
}

.git{
    margin: 5px;
    width: 12.5%;
    height: 142px;
    display: flex;
    background-color: #333333;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.git:hover{
    background-color: #222222;
}

#logo{
    font-family: 'Mali', cursive;
    font-size: 50px;
    width: 60%;
    text-align: left;
}

#clock{
    font-family: 'Mali', cursive;
    font-size: 50px;
    width: 40%;
    text-align: left;
}

#footer{
    width: 95%;
    margin: 20px;
    text-align: center;
}
